heapsort/bin/Debug/net6.0/heapsort.dll
heapsort/bin/Debug/net6.0/heapsort.pdb
heapsort/obj/Debug/net6.0/heapsort.dll
heapsort/obj/Debug/net6.0/heapsort.pdb
heapsort/bin/Debug/net7.0/heapsort.dll
heapsort/bin/Debug/net7.0/heapsort.pdb
heapsort/obj/Debug/net7.0/apphost
heapsort/obj/Debug/net7.0/heapsort.AssemblyInfoInputs.cache
heapsort/obj/Debug/net7.0/heapsort.assets.cache
heapsort/obj/Debug/net7.0/heapsort.csproj.CoreCompileInputs.cache
heapsort/obj/Debug/net7.0/heapsort.dll
heapsort/obj/Debug/net7.0/heapsort.GeneratedMSBuildEditorConfig.editorconfig
heapsort/obj/Debug/net7.0/heapsort.genruntimeconfig.cache
heapsort/obj/Debug/net7.0/heapsort.pdb
heapsort/obj/Debug/net7.0/ref/heapsort.dll
heapsort/obj/Debug/net7.0/refint/heapsort.dll
